@mixin hovereffects {
  background-color: $text-color;
  box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: $main-color;
  transform: translateY(-0.7rem);
}
@mixin hovereffects2 {
  background-color: $text-color;
  box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.4);
  color: $main-color;
  transform: translateY(-0.7rem);
}
@mixin mybtn {
  padding: 0.8rem 3.2rem;
  background: $primary-color;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: capitalize;
  color: $text-color;
  border: none;
  box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}
@mixin content_center($flex_val) {
  display: flex;
  justify-content: center;
  align-items: $flex_val;
  flex-direction: column;
}
@mixin hc() {
  left: 50%;
  transform: translatex(-50%);
}

@mixin vc() {
  top: 50%;
  transform: translatey(-50%);
}

@mixin cc() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin scrollbars($size, $foreground-color, $background-color) {
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar {
    width: $size;
    height: $size;
  }
  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border: 1px solid lighten($foreground-color, 10%);
    cursor: pointer;
  }
  ::-webkit-scrollbar-track {
    background: $background-color;
    width: calc(#{$size} * 2);
    border: 2px solid lighten($background-color, 10%);
  }
  ::-webkit-scrollbar-track-piece {
    background: $background-color;
    width: calc(#{$size} / 2);
    border: 2px solid lighten($background-color, 10%);
  }
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@include scrollbars(2px, rgba(255, 255, 255, 0.15), transparent);
