$main-color: #0a183d;
$primary-color: #b71540;
$text-color: #fff;
$bl: #000;
$grey: #777;
$greybg: #f9f9ff;
$iconbg: #111;
$bdc: #eee;
$blue: #b71540;
$boxshadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
$gradient: #b71540;
