@import url("https://fonts.googleapis.com/css2?family=Abel&family=Acme&display=swap");
html {
  font-size: 100%;
}

body {
  font-family: "Acme", sans-serif;
  font-weight: lighter;
}

a,
a:hover {
  text-decoration: none;
}

.main_header {
  width: 100vw;
  line-height: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))) #0a183d;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) #0a183d;
}

.main_header .navbar-brand {
  color: #fff !important;
  -webkit-animation: music 1s linear infinite;
          animation: music 1s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.main_header .navbar-brand .fas {
  font-size: 4rem;
}

@-webkit-keyframes music {
  from {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  to {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@keyframes music {
  from {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  to {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

.main_header .navbar-brand:hover {
  -webkit-filter: drop-shadow(0 1.5rem 1rem rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0 1.5rem 1rem rgba(255, 255, 255, 0.5));
}

.main_header .navbar-nav {
  padding-left: 15rem;
}

.main_header .navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  padding-right: 3rem;
}

.main_header .navbar-nav .nav-item:last-child > .nav-link {
  padding-right: 0%;
}

.main_header .nav-item:hover > .nav-link,
.main_header .navbar-brand:hover,
.main_header .navbar-brand:hover > .fas {
  color: #b71540;
}

.main_header .my_btn {
  padding: 0.8rem 3.2rem;
  background: #b71540;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}

.main_header .my_btn:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #0a183d;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.header_hero {
  width: 100%;
  height: 80vh;
  background: #fff;
}

.header_hero .header_hero__text {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_hero .header_hero__text h2 {
  color: #0a183d;
  font-size: 4rem;
  line-height: 150%;
  font-weight: 500;
}

.header_hero .header_hero__text h2 span {
  color: #b71540;
  text-transform: capitalize;
}

.header_hero .header_hero__text p {
  font-size: 1rem;
  color: #0a183d;
}

.header_hero .header_hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header_hero .header_hero__btn a {
  padding: 0.8rem 3.2rem;
  background: #b71540;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}

.header_hero .header_hero__btn a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.4);
  color: #0a183d;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.header_hero .header_hero__img {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: anime_hero 10s linear infinite alternate;
          animation: anime_hero 10s linear infinite alternate;
}

@-webkit-keyframes anime_hero {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anime_hero {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header_hero .header_hero__img img {
  -webkit-filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, 0.8));
          filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, 0.8));
  height: 80%;
}

.products {
  height: 40vw;
  width: 100%;
  padding: 80px 0;
}

.products .title {
  text-align: center;
}

.products .title h2 {
  font-size: 34px;
}

.products .title p {
  font-size: 14px;
  color: #777;
  margin: 13px 0 0 0;
}

.products .container {
  padding: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .container .card {
  width: 100%;
  max-width: 23%;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
          box-shadow: 0px 10px 30px 0px rgba(212, 150, 255, 0.2);
}

.products .container .card:hover .cardInfo .btn {
  background: #b71540;
  color: #fff;
}

.products .container .card .cardBg {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 26px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.products .container .card .cardInfo {
  text-align: center;
  padding: 18px;
  background: #f9f9ff;
}

.products .container .card .cardInfo p {
  margin: 13px 0;
  color: #777;
  line-height: 1.5;
}

.products .container .card .cardInfo .btn {
  background: #fff;
  color: #000;
  -webkit-transition: none;
  transition: none;
}

.gallery {
  height: 100vw;
}

.gallery .carousel .carousel-inner .carousel-item {
  height: 50rem;
}

.team {
  height: 60vw;
}

.team .title {
  text-align: center;
  margin-bottom: 3rem;
}

.team .title h2 {
  font-size: 34px;
}

.team .title p {
  font-size: 14px;
  color: #777;
  margin: 13px 0 0 0;
}

.team .wrappernew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team .wrappernew .cardnew {
  width: 15rem;
  height: 20rem;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.team .wrappernew .cardnew:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.team .wrappernew .cardnew:hover:before {
  opacity: 1;
}

.team .wrappernew .cardnew:hover .infonew {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.team .wrappernew .cardnew:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.team .wrappernew .cardnew img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.team .wrappernew .cardnew .infonew {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.team .wrappernew .cardnew .infonew h2 {
  margin: 0px;
  color: #fff;
  font-family: "Viaoda Libre", cursive;
}

.team .wrappernew .cardnew .infonew p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

footer {
  width: 100%;
  background: url("../images/footer-bg.jpg") no-repeat center/cover;
}

footer .container {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container h2 {
  color: #fff;
  margin-bottom: 22px;
  font-weight: 400;
  font-size: 21px;
}

footer .container .footerCard {
  width: 100%;
  max-width: 23%;
}

footer .container .footerCard.cardone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .container .footerCard.cardone a {
  text-decoration: none;
  color: #eee;
  font-weight: 200;
  margin-bottom: 10px;
  -webkit-transition: color 600ms;
  transition: color 600ms;
}

footer .container .footerCard.cardone a:hover {
  color: #b71540;
}

footer .container .footerCard.cardtwo {
  max-width: 50%;
}

footer .container .footerCard.cardtwo p {
  color: #eee;
  font-size: 15px;
  font-weight: 300;
}

footer .container .footerCard.cardtwo .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

footer .container .footerCard.cardtwo .email input {
  padding: 14px;
  border: none;
  outline: none;
  border-radius: 50px;
  width: 60%;
  margin-right: 24px;
}

footer .container .footerCard.cardtwo .email .btn {
  border-radius: 50px;
  background: #b71540;
  border: none;
  color: #fff;
  font-weight: 400;
}

footer .container .footerCard.cardtwo .email .btn:hover {
  background: #b71540;
}

footer .container .footerCard.cardtwo .email .btn i {
  margin-left: 5px;
}

footer .container .footerCard.cardthree .imgWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .footerCard.cardthree .imgWrap img {
  margin-bottom: 8px;
  cursor: pointer;
}

footer .wrapper {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0;
}

footer .wrapper .copyright p {
  color: #eee;
  font-size: 15px;
  font-weight: 300;
}

footer .wrapper .copyright p i {
  color: #b71540;
}

footer .wrapper .copyright p a {
  text-decoration: none;
  color: #b71540;
}

footer .wrapper .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrapper .icons .box {
  background: #111;
  color: #fff;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

footer .wrapper .icons .box:hover {
  background: #b71540;
}

footer .wrapper .icons .box i {
  margin: auto;
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .header_hero {
    height: 260vw;
  }
  .team {
    height: 500vw;
  }
  .products {
    height: 150vw;
  }
  .main_header {
    line-height: 5rem;
    text-align: center;
    padding: 0 2rem;
  }
  .main_header .navbar-nav {
    padding-left: 3rem;
  }
  .main_header .navbar-nav .nav-item .nav-link {
    padding-right: 0%;
  }
  .main_header .navbar .navbar-toggler {
    border-color: #fff;
  }
  .header_hero__text .header_hero__btn {
    display: block;
    margin: 0 auto;
  }
  .header_hero__text .header_hero__btn a {
    display: block;
  }
  .header_hero__img {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */